/* || Root styling & variables */

:root {
    font-size: 16px;

    --kelp-forest: #334532;
    --highland-mist: #202F42;
    --selkie-grey: #9DA7B6;
    --loch-foam: #F4F1E7;
    --heather-bloom: #BAA7C1;
}

/* || Global styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    background-color: var(--highland-mist);
}

/* || Header styling */

header {
    font-family: 'playfair-display';
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header h1 {
    font-size: 4rem;
    text-align: center;
    color: var(--loch-foam);
    padding: 1rem 0;
}

.heroContainer {
    width: 86rem;
    height: 50rem;
    background-color: var(--loch-foam);
    border-radius: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.heroContent {
    position: absolute;
    text-align: center;
}

.heroContent p {
    font-size: 3rem;
    font-style: italic;
    margin-bottom: 3rem;
    color: var(--loch-foam);
}

.ctaButton {
    font-family: "source-sans-3";
    padding: 1rem 2rem;
    font-size: 1.2rem;
    background-color: var(--heather-bloom);
    color: var(--loch-foam);
    border: none;
    cursor: pointer;
}

.ctaButton:hover {
    background-color: var(--kelp-forest);
}

.ctaButton:visited {
    background-color: var(--selkie-grey);
}
.starSection {
    height: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* || Main page styling */



/* || Footer styling */
