* {
    background-color: var(--kelp-forest) !important;
    font-weight: 400;
}

body {
    text-align: center;
    height: 100vh;
    width: 100vw;
    color: var(--loch-foam);
    display: flex;
    align-items: center;
    justify-content: center;
}

.errorContainer {
    width: 600px;
    font-family: 'source-sans-3';
}

.errorContainer h1 {
    font-size: 3rem;
}

.errorMessage {
    padding: 0.5rem;
    color: var(--brick-coral);
    font-size: 1.2rem;
    
}

.errorContainer a {
    color: var(--loch-foam);
    
}