/* || Root styling & variables */

:root {
    /* Color variables */
    --kelp-forest: #334532;
    --highland-mist: #202F42;
    --selkie-grey: #9DA7B6;
    --loch-foam: #F4F1E7;
    --heather-bloom: #BAA7C1;
    --brick-coral: #C97A63;

}

/* || Global styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* font-size: 16px; */
    background-color: var(--highland-mist);
    font-family: 'source-sans-3';
}


/* || Main page styling */

main {
    width: 86rem;
    height: auto;
    background-color: var(--loch-foam);
    border-radius: 3rem; 
    padding: 7rem 3.5rem 3rem 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 9rem;
    
}

h1,h2,h3,h4,h5 .form, legend {
    font-family: 'playfair-display';
}

.mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

