/* || Header styling */

header {
    font-family: 'playfair-display';
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header h1 {
    font-size: 4rem;
    font-weight: 300;
    text-align: center;
    color: var(--loch-foam);
    padding: 1rem 0;
}

.heroContainer {
    width: 86rem;
    height: 50rem;
    background-color: var(--loch-foam);
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.heroImg {
    border-radius: 3rem;
}
.heroContent {
    position: absolute;
    text-align: center;
}

.heroContent p {
    font-size: 3rem;
    font-style: italic;
    margin-bottom: 3rem;
    color: var(--loch-foam);
}

.ctaButton {
    font-family: "source-sans-3";
    padding: 0.8rem 1.5rem;
    font-size: 1.3rem;
    background-color: var(--heather-bloom);
    color: var(--loch-foam);
    border: none;
    cursor: pointer;
    border-radius: 8px;
    text-decoration: none;
}

.ctaButton:hover {
    background-color: var(--kelp-forest);
}

.starSection {
    height: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
