/* || Hotel info section */

.hotelContainer {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.hotelInfo {
    color: var(--kelp-forest);
    width: 41rem;
}

.hotelInfo h2 {
    font-weight: 700;
    font-size: 3rem;
    text-align: right;
}

.hotelInfo p {
    font-size: 1.25rem;
    padding-top: 2rem;
    font-weight: 400;
}

/* || Room info section */

.roomContainer {
    color: var(--highland-mist);
}

.titleContainer {
    text-align: center;
    font-size: 3.4rem;
}

.titleContainer h3 {
    font-style: italic;
    font-weight: 300;
    text-decoration: 2px underline;
    color: var(--highland-mist);
    padding-bottom: 3.8rem;
}

.roomInfoContainer {
    width: 1260px;
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content: space-evenly;  
}

.roomTitle {
    font-size: 3rem;
    font-style: italic;
    font-weight: 300;
    padding-bottom: 1rem;
}

.roomText {
    width: 25rem;
    font-size: 1.15rem;
    font-weight: 300;
}

.roomImg {
    max-height: 350px;
}

.room2 {
    flex-direction: row-reverse;
}

.room1, .room2 {
    padding-bottom: 8.8rem;
}

/* || Feature info section */

.featureContainer {
    color: var(--highland-mist);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.featureTitle {
    font-weight: 600;
    font-size: 3.5rem;
    padding-bottom: 2rem;
}

.featureInfo {
    width: 48rem;
}

.featureText {
    font-size: 1.25rem;
}

/* || Booking container and form styling */

.bookingSection {
    background-color: var(--highland-mist);
    border-radius: 3rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookingTitle {
    color: var(--loch-foam);
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    padding: 1.4rem 0 2.5rem 0;
}

.bookingContainer {
    width: 70rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    gap: 8.8rem;
}

.bookingInfo {
    width: 35rem;
    font-size: 1.25rem;
    color: var(--heather-bloom);
}

.bookingInfo p {
    line-height: 150%;
    font-weight: 300;
    padding-bottom: 5.5rem;
}

.bookingInfo h3 {
    font-style: italic;
    font-weight: 300;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.bookingInfo img {
    max-width: 36rem;
}

/* Form styling */

.bookingForm {
    width: 25rem;
    height: 48rem;
    background-color: var(--loch-foam);
    border-radius: 1.25rem;
    padding: 1.2rem 2rem;
}

.formContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-weight: 700;
    color: var(--highland-mist);
}

.formGroupFlex {
    display: flex;
    flex-direction: column;
}

input, select {
    font-family: 'playfair-display';
    height: 2rem;
    border-radius: 5px;
    border: 1px solid var(--highland-mist);
    background-color: var(--loch-foam);
}

label {
    padding: 3px;
}

fieldset {
    font-family: 'source-sans-3';
}

fieldset {
    border-radius: 5px;
    border: none;
    background-color: var(--loch-foam);
    display: flex;
    flex-direction: column;   
}

#fw400 {
    font-weight: 400;
}

.totalCost {
    font-size: 1.2rem;
    color: var(--brick-coral);
}

.checkboxContainer {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.formGroup input {
    padding: 8px;
}

input[type="checkbox"] {
    width: 1.2rem;
    height: 1.2rem;
}

input[type="checkbox"]:checked {
    accent-color: var(--kelp-forest);
}

.buttonContainer {
    display: flex;
    justify-content: space-evenly;
}

.formButton {
    width: 7.5rem;
    height: 2.5rem;
    background-color: var(--heather-bloom);
    color: var(--loch-foam);
    font-size: 1rem;
    font-weight: 600;
    font-family: 'source-sans-3';
    border: none;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.formButton:hover{
    background-color: var(--kelp-forest);
}

